.logo {
    width: 150px;
}


body {
    background-image: radial-gradient(#a0ca92, #C8CC92);
}


.título {
    color: black;
    text-align: center;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    padding: 00px 0px 20px 0px;
}

.subtítulo {
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-family: 'PT Sans', sans-serif;
    padding: 0px 0px 20px 0px;
}








/* ANIMACIONES */

h1 {
    margin: 20px;
    animation-name: animacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    25% {
        color: grey;
        transform: translateX(100px);
    }

    50% {
        color: black;
        transform: translateX(-150px);
    }

    75% {
        color: grey;
        transform: translateX(25px);
    }

    100% {
        color: black;
        transform: translateX(25px);
    }
}
