.logo {
    width: 150px;
}


body {
    background-image: radial-gradient($color-uno, $color-dos);
}


.título {
    color: $color-tres;
    text-align: center;
    font-size: 40px;
    font-family: 'PT Sans', sans-serif;
    padding: 00px 0px 20px 0px;
}

.subtítulo {
    color: $color-tres;
    text-align: center;
    font-family: sans-serif;
    font-family: 'PT Sans', sans-serif;
    padding: 0px 0px 20px 0px;
}
.párrafo-1 {
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    text-align: justify;
}
/* ANIMACIONES */

h1 {
    margin: 20px;
    animation-name: animacion;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes animacion {
    25% {
        color: $color-cuatro;
        transform: translateX(100px);
    }

    50% {
        color: $color-tres;
        transform: translateX(-150px);
    }

    75% {
        color: $color-cuatro;
        transform: translateX(25px);
    }

    100% {
        color: $color-tres;
        transform: translateX(25px);
    }
}
/* Dispositio mediano */

@media (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    /* Animación */
    h1 {
        margin: 20px;
        animation-name: animacion;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    @keyframes animacion {
        25% {
            color: $color-cuatro;
            transform: translateX(1px);
        }

        50% {
            color: $color-tres;
            transform: translateX(-1px);
        }

        75% {
            color: $color-cuatro;
            transform: translateX(1px);
        }

        100% {
            color: $color-tres;
            transform: translateX(1px);
        }
    }
}
/* Dispoitivo pequeño */

@media (max-width: 420px) {
    * {
        margin: 0px;
        padding: 0px;
    }  
    .logo{
        margin: 5px 0px 0px 0px;
        width: 80px;
    } 
    .subtítulo{
        padding: 20px;
    }
    .texto{
        padding: 20px;
    }   
    /* Animación */
    @keyframes animacion {
        25% {
            color: $color-cuatro;
        }
    
        50% {
            color: $color-tres;
        }
    
        75% {
            color: $color-cuatro;
        }
    
        100% {
            color: $color-tres;
        }
    }

}