/* MODELOS */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14, 550px);
    padding: 20px 0px 20px 0px;
    section{
        display: grid;
        justify-items: center;
        align-content: space-around;
    }
}
.modelos {
    height: 400px;
    width: 500px;
    margin: 20px;
}

.info {
    margin: auto;
    max-width: 800px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.p-2{
    background-color: $color-uno;
    margin: auto;
    max-width: 1200px;
}
/* Dispositio mediano */

@media (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    /* Modelos */
    .modelos {
        height: 270px;
        width: 320px;
        margin: 20px 0px 20px 0px;
    }
}
/* Dispoitivo pequeño */

@media (max-width: 420px) {
    * {
        margin: 0px;
        padding: 0px;
    }      
    /* Modelos */
    .modelos {
        height: 150px;
        width: 200px;
        margin: 20px;
    }
    .info{
        text-align: justify;
    }
}